
.chat {
    display: grid;
    height: 100%;
    grid-gap: 5px;
    grid-template-areas:    "h h"
                            "u m"
                            "f f";
    grid-template-columns: minmax(auto, 200px) 1fr;
    grid-template-rows: minmax(50px,auto) 1fr minmax(100px,auto);

    &__header {
        grid-area: h;
        background-color: rgb(255, 222, 222);
    }

    &__members {
        grid-area: u;
        background-color: rgb(255, 236, 209);
    }

    &__messages {
        grid-area: m;
        background-color: rgb(222, 222, 255);
    }

    &__footer {
        grid-area: f;
        background-color: rgb(222, 255, 222);
    }
}